@font-face {
  font-family: 'Proxima';
  src:url('../fonts/ProximaNova/ProximaNova-Bold.eot');
  src: local('ProximaNova-Bold'), local('BebasNeueRegular'),
  url('../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima';
  src:url('../fonts/ProximaNova/ProximaNova-Semibold.eot');
  src: local('ProximaNova-Semibold'), local('BebasNeueRegular'),
  url('../fonts/ProximaNova/ProximaNova-Semibold?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima';
  src:url('../fonts/ProximaNova/ProximaNova-Regular.eot');
  src: local('ProximaNova-Regular'), local('BebasNeueRegular'),
  url('../fonts/ProximaNova/ProximaNova-Regular?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src:url('../fonts/bebas/BebasNeueBold.eot');
  src: local('BebasNeueBold'), local('BebasNeueRegular'),
  url('../fonts/bebas/BebasNeueBold?#iefix') format('embedded-opentype'),
  url('../fonts/bebas/BebasNeueBold.woff') format('woff'),
  url('../fonts/bebas/BebasNeueBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

