@media screen and (min-width: 100px) {
  .phone {
    display: none;
  }

  .header {
    height: 60px;
    background-color: #151316;

    &__wrap {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      font-weight: 600;
      font-size: 16px;
      line-height: 130.69%;
      position: relative;
      padding-left: 14px;
      z-index: 1;
      color: #fff;
      transition: all .3s;

      &:before {
        position: absolute;
        z-index: -1;
        content: '';
        background-color: #F90031;
        width: 33px;
        height: 33px;
        top: -5px;
        left: 0;
        border-radius: 50%;
      }

      &:hover {
        text-decoration: none;
      }

      &:hover.logo:before {
        box-shadow: 0px 4px 20px rgba(249, 0, 49, 0.5);
      }
    }
  }

  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #5A5A5A;

  }

  .header__logo {
    margin: 0 0 0 15px;
  }

  .header__ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .header__link {
    transition: all .3s;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .header__phone_icon {
    img {
      transition: all .3s;

      &:hover {
        box-shadow: 0px 4px 20px #393839;
      }
    }

  }

  .header__phone {
    display: flex;
    align-items: center;

    img {

    }

    a {
      font-weight: 600;
      margin-left: 9px;
      font-size: 17px;
      line-height: 20px;
      color: #fff;

      &:hover {
        opacity: .7;
        color: #fff;
      }
    }
  }

  .header__burger {
    display: block;
    position: relative;
    left: 0;
    z-index: 3;
    height: 16px;
    display: flex;
    align-items: center;

    &:before,
    &:after{
      content: '';
      position: absolute;
      height: 2px;
      width: 21px;
      background-color: #757575;
      transition: all .3s ease;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    span {
      height: 2px;
      width: 21px;
      background-color: #757575;
      transition: all .3s ease;
    }
    &.active {
      span {
        transform: rotateX(90deg);
      }
      &:before {
        transform: rotate(45deg);
        top: 7px;
      }
      &:after {
        transform: rotate(-45deg);
        bottom: 7px;
      }
    }
  }

  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #151316;
    transition: all .3s;
    &.active{
      top: 0%;
    }
  }
}

@media screen and (min-width: 540px) {

}

@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }

  .header__li {
    margin-right: 10px;
  }

  .header__nav {
    flex-direction: row;
    position: static;

    height: auto;
    background: transparent;
  }

  .header__logo {
    margin: 0;
  }
  .header__ul {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {

  .header__li {
    margin-right: 20px;
  }

  .phone {
    display: block;
  }



}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .header__li {
    margin-right: 29px;
  }
  .header__wrap {
    height: 80px;
  }

  .header {
    height: 80px;
  }
}
