@media screen and (min-width: 100px) {
  .teacher__head {
    text-align: center;
  }

  .teacher__feutures {
    display: flex;
    flex-direction: column;
  }
  .teacher__h2 {
    font-family: 'Bebas';
    font-size: 40px;
    line-height: 126.19%;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 127px;
    position: relative;
    text-transform: uppercase;

    &:before {
      content: '';
      bottom: -29px;
      position: absolute;
      height: 2px;
      width: 27px;
      background-color: #f90031;
      left: 50%;
      transform: translateX(-50%);

    }
  }

  .teacher__subtitle {
    font-family: 'Bebas';
    font-size: 40px;
    line-height: 126.19%;
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 127px;
  }
}

@media screen and (min-width: 540px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
  .teacher__feutures {
    justify-content: space-between;
  }

  .teacher > .container {
    position: relative;
  }


  .teacher__feutures_l {
    position: absolute;
    left: -90px;
    top: 200px;
  }
  .teacher__ul {
    text-align: center;
    margin: 77px auto 0 !important;

    li {
      font-weight: 600;
      font-size: 18px;
      line-height: 156.69%;
      margin-bottom: 23px;
      color: #636363;

      &:nth-child(2) {
        margin-left: 114px;
      }

      &:nth-child(3) {
        margin-left: 4px;
      }

      &:nth-child(4) {
        margin-right: 20px;
      }
    }
  }
  .teacher__feutures_r {
    position: absolute;
    right: 0;
    top: 320px;
  }

}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
